<?xml version="1.0" encoding="utf-8"?>
<robot
  name="block" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="block">
  <xacro:arg name="color" default="Red" />
  <xacro:property name="scale" value="1"/>
  <xacro:property name="color" value="$(arg color)"/>
  <link
    name="block">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.01" />
      <inertia
        ixx="0.0005009" 
        ixy="0.0" 
        ixz="0.0"
        iyy="0.0000708" 
        iyz="0.0" 
        izz="0.0005376" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.0254 0.0762 0.0142875"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.0254 0.0762 0.0142875"/>
      </geometry>
      <gazebo>
        <mu>1000.0</mu>        <!-- Lateral friction coefficient -->
        <mu2>1000.0</mu2>      <!-- Second friction coefficient for anisotropic friction -->
        <kp>100000</kp>     <!-- Spring coefficient (stiffness) -->
        <kd>1</kd>          <!-- Damping coefficient -->
      </gazebo>
    </collision>
    <gravity>1</gravity>
  </link>
  

  <gazebo reference="block">
  <kinematic>0</kinematic>
  <xacro:if value="${color == 'Orange'}">
     <material>Gazebo/Orange</material>
    </xacro:if>
    <xacro:if value="${color == 'Green'}">
     <material>Gazebo/Green</material>
    </xacro:if>
    <xacro:if value="${color == 'Black'}">
     <material>Gazebo/Black</material>
    </xacro:if>
    <xacro:if value="${color == 'Blue'}">
     <material>Gazebo/Blue</material>
     </xacro:if>
     <xacro:if value="${color == 'Yellow'}">
     <material>Gazebo/Yellow</material>
    </xacro:if>
    <xacro:if value="${color == 'Red'}">
     <material>Gazebo/Red</material>
    </xacro:if>
    <xacro:if value="${color == 'White'}">
     <material>Gazebo/White</material>
    </xacro:if>
    <xacro:if value="${color == 'Grey'}">
     <material>Gazebo/Grey</material>
    </xacro:if>
    <visual> <transparency> 0 </transparency> </visual>
  </gazebo>
  </xacro:macro>

  <xacro:block>
  </xacro:block>

  
</robot>