<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="namespace" default="/gp4_gazebo/"/>
  <arg name="launch_world" default="true"/>
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <!-- <include file="$(find robot_digital_twin)/launch/lego_mfi.launch"/> -->

  <!-- the include to include other launch files  -->
  <group if="$(eval launch_world)">
    <include
      file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="debug" value="$(arg debug)" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="paused" value="$(arg paused)"/>
      <arg name="use_sim_time" value="$(arg use_sim_time)"/>
      <arg name="headless" value="$(arg headless)"/>
    </include>
  </group>
  
  <group ns="$(arg namespace)">
    <arg name = "camera" default="camera_$(arg namespace)"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find robot_digital_twin)/urdf/camera.xacro"/>
    <node name="spawn_camera" pkg="gazebo_ros" type="spawn_model" ns="$(arg namespace)"
      args="-param robot_description
            -urdf 
            -x $(arg x)
            -y $(arg y)
            -z $(arg z)
            -R $(arg roll)
            -P $(arg pitch)
            -Y $(arg yaw)
            -model $(arg camera)"
      respawn="false" output="screen">
    </node>
  </group>

</launch>