<launch>

    <arg name = "assemble_plate" default="assemble_plate"/>
    <arg name = "assemble_plate_color" default="Blue" />
    <param name="assemble_plate_description" command="$(find xacro)/xacro --inorder 
                                                      $(find robot_digital_twin)/urdf/lego_baseplate32.xacro
                                                      plate_color:=$(arg assemble_plate_color)"/>
    <node name="spawn_assemble_plate" pkg="gazebo_ros" type="spawn_model"
      args="-param assemble_plate_description
            -urdf 
            -x 0
            -y 0
            -z 0.0016
            -model $(arg assemble_plate)"
      respawn="false" output="screen">
    </node>

    <arg name = "storage_plate" default="storage_plate"/>
    <arg name = "storage_plate_color" default="Green" />
    <param name="storage_plate_description" command="$(find xacro)/xacro --inorder $(find robot_digital_twin)/urdf/lego_baseplate32.xacro 
                                                    plate_color:=$(arg storage_plate_color)"/>
    <node name="spawn_storage_plate" pkg="gazebo_ros" type="spawn_model"
      args="-param storage_plate_description
            -urdf 
            -x 0
            -y 0
            -z 0.0016
            -model $(arg storage_plate)"
      respawn="false" output="screen">
    </node>

    <arg name = "b2_1" default="b2_1"/>
    <param name="b2_1_description" command="$(find xacro)/xacro --inorder $(find robot_digital_twin)/urdf/lego_2x4.xacro 
                                                    brick_color:='Red'"/>
    <node name="spawn_b2_1" pkg="gazebo_ros" type="spawn_model"
      args="-param b2_1_description
            -urdf 
            -x 0
            -y 0
            -z 0.0112
            -model $(arg b2_1)"
      respawn="false" output="screen">
    </node>

    <arg name = "b2_2" default="b2_2"/>
    <param name="b2_2_description" command="$(find xacro)/xacro --inorder $(find robot_digital_twin)/urdf/lego_2x4.xacro 
                                                    brick_color:='Red'"/>
    <node name="spawn_b2_2" pkg="gazebo_ros" type="spawn_model"
      args="-param b2_2_description
            -urdf 
            -x 0
            -y 0
            -z 0.0112
            -model $(arg b2_2)"
      respawn="false" output="screen">
    </node>


    <arg name = "b2_3" default="b2_3"/>
    <param name="b2_3_description" command="$(find xacro)/xacro --inorder $(find robot_digital_twin)/urdf/lego_2x4.xacro 
                                                    brick_color:='Red'"/>
    <node name="spawn_b2_3" pkg="gazebo_ros" type="spawn_model"
      args="-param b2_3_description
            -urdf 
            -x 0
            -y 0
            -z 0.0112
            -model $(arg b2_3)"
      respawn="false" output="screen">
    </node>

    <arg name = "b2_4" default="b2_4"/>
    <param name="b2_4_description" command="$(find xacro)/xacro --inorder $(find robot_digital_twin)/urdf/lego_2x4.xacro 
                                                    brick_color:='Red'"/>
    <node name="spawn_b2_4" pkg="gazebo_ros" type="spawn_model"
      args="-param b2_4_description
            -urdf 
            -x 0
            -y 0
            -z 0.0112
            -model $(arg b2_4)"
      respawn="false" output="screen">
    </node>

    <arg name = "b2_5" default="b2_5"/>
    <param name="b2_5_description" command="$(find xacro)/xacro --inorder $(find robot_digital_twin)/urdf/lego_2x4.xacro 
                                                    brick_color:='Red'"/>
    <node name="spawn_b2_5" pkg="gazebo_ros" type="spawn_model"
      args="-param b2_5_description
            -urdf 
            -x 0
            -y 0
            -z 0.0112
            -model $(arg b2_5)"
      respawn="false" output="screen">
    </node>

    <arg name = "b2_6" default="b2_6"/>
    <param name="b2_6_description" command="$(find xacro)/xacro --inorder $(find robot_digital_twin)/urdf/lego_2x4.xacro 
                                                    brick_color:='Red'"/>
    <node name="spawn_b2_6" pkg="gazebo_ros" type="spawn_model"
      args="-param b2_6_description
            -urdf 
            -x 0
            -y 0
            -z 0.0112
            -model $(arg b2_6)"
      respawn="false" output="screen">
    </node>

    <arg name = "b2_7" default="b2_7"/>
    <param name="b2_7_description" command="$(find xacro)/xacro --inorder $(find robot_digital_twin)/urdf/lego_2x4.xacro 
                                                    brick_color:='Red'"/>
    <node name="spawn_b2_7" pkg="gazebo_ros" type="spawn_model"
      args="-param b2_7_description
            -urdf 
            -x 0
            -y 0
            -z 0.0112
            -model $(arg b2_7)"
      respawn="false" output="screen">
    </node>

    <arg name = "b2_8" default="b2_8"/>
    <param name="b2_8_description" command="$(find xacro)/xacro --inorder $(find robot_digital_twin)/urdf/lego_2x4.xacro 
                                                    brick_color:='Red'"/>
    <node name="spawn_b2_8" pkg="gazebo_ros" type="spawn_model"
      args="-param b2_8_description
            -urdf 
            -x 0
            -y 0
            -z 0.0112
            -model $(arg b2_8)"
      respawn="false" output="screen">
    </node>

    <arg name = "b2_9" default="b2_9"/>
    <param name="b2_9_description" command="$(find xacro)/xacro --inorder $(find robot_digital_twin)/urdf/lego_2x4.xacro 
                                                    brick_color:='Red'"/>
    <node name="spawn_b2_9" pkg="gazebo_ros" type="spawn_model"
      args="-param b2_9_description
            -urdf 
            -x 0
            -y 0
            -z 0.0112
            -model $(arg b2_9)"
      respawn="false" output="screen">
    </node>

    <arg name = "b2_10" default="b2_10"/>
    <param name="b2_10_description" command="$(find xacro)/xacro --inorder $(find robot_digital_twin)/urdf/lego_2x4.xacro 
                                                    brick_color:='Red'"/>
    <node name="spawn_b2_10" pkg="gazebo_ros" type="spawn_model"
      args="-param b2_10_description
            -urdf 
            -x 0
            -y 0
            -z 0.0112
            -model $(arg b2_10)"
      respawn="false" output="screen">
    </node>

</launch>