<launch>
    <!-- these are the arguments you can pass this launch file, for example paused:=true -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="namespace" default="/fanuc_gazebo/"/>

    <include
        file="$(find robot_digital_twin)/launch/fanuc_3f_gripper.launch">
        <arg name="namespace" value="$(arg namespace)"/>
        <arg name="launch_world" value="true"/>
        <arg name="x" value="0"/>
        <arg name="y" value="0"/>
        <arg name="z" value="0"/>
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0"/>
    </include>

    <include file="$(find robot_digital_twin)/launch/blocks.launch"/>
    
    <include
        file="$(find robot_digital_twin)/launch/camera.launch">
        <arg name="namespace" value="/camera/"/>
        <arg name="launch_world" value="false"/>
        <arg name="x" value="0.5"/>
        <arg name="y" value="0.1"/>
        <arg name="z" value="1"/>
        <arg name="roll" value="0"/>
        <arg name="pitch" value="1.570796"/>
        <arg name="yaw" value="0"/>
    </include>

</launch>
