<launch>
    <arg name="id" default="10"/> 
    <arg name="color" default="Red"/>

    <arg name = "name" default="b5_$(arg id)"/>
    <param name="b5_$(arg id)_description" command="$(find xacro)/xacro --inorder $(find robot_digital_twin)/urdf/lego_1x4.xacro 
                                                    brick_color:=$(arg color)"/>
    <node name="spawn_b5_$(arg id)" pkg="gazebo_ros" type="spawn_model"
      args="-param b5_$(arg id)_description
            -urdf 
            -x 0
            -y 0
            -z 0.0112
            -model $(arg name)"
      respawn="false" output="screen">
    </node>    
    
    <include file="$(find robot_digital_twin)/launch/b5.launch" if="$(eval arg('id') - 1 > 0)">
        <arg name="color" value="$(arg color)"/>
        <arg name="id" value="$(eval arg('id') - 1)"/>
   </include>

</launch>
